<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
 
  <servlet>
  	<servlet-name>BoardWriteService</servlet-name>
  	<display-name>BoardWriteService</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.BoardWriteService</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>DeleteMember</servlet-name>
  	<display-name>DeleteMember</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.DeleteMember</servlet-class>
  </servlet>
  

  <servlet>
  	<servlet-name>noticeBoardService</servlet-name>
  	<display-name>noticeBoardService</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.noticeBoardService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>noticeBoardDetailService</servlet-name>
  	<display-name>noticeBoardDetailService</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.noticeBoardDetailService</servlet-class>
</servlet>
  <servlet>
  	<servlet-name>noticeBoardWriteService</servlet-name>
  	<display-name>noticeBoardWriteService</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.noticeBoardWriteService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>noticeBoardService</servlet-name>
  	<display-name>noticeBoardService</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.noticeBoardService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>noticeBoardDetailService</servlet-name>
  	<display-name>noticeBoardDetailService</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.noticeBoardDetailService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.test</servlet-class>
  </servlet>
 
  
  <servlet-mapping>
  	<servlet-name>BoardWriteService</servlet-name>
  	<url-pattern>/BoardWriteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMember</servlet-name>
  	<url-pattern>/DeleteMember</url-pattern>
  </servlet-mapping>
  


  <servlet-mapping>
  	<servlet-name>noticeBoardWriteService</servlet-name>
  	<url-pattern>/noticeBoardWriteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>noticeBoardService</servlet-name>
  	<url-pattern>/noticeBoardService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>noticeBoardDetailService</servlet-name>
  	<url-pattern>/noticeBoardDetailService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>

 
  
</web-app>

