<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BoardWriteService</servlet-name>
  	<display-name>BoardWriteService</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.BoardWriteService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMember</servlet-name>
  	<display-name>DeleteMember</display-name>
  	<description></description>
  	<servlet-class>com.ggws.controller.DeleteMember</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>frontController</servlet-name>
  	<display-name>frontController</display-name>
  	<description></description>
  	<servlet-class>com.ggws.frontController.frontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardWriteService</servlet-name>
  	<url-pattern>/BoardWriteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMember</servlet-name>
  	<url-pattern>/DeleteMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>frontController</servlet-name>
  	<url-pattern>/frontController</url-pattern>
  </servlet-mapping>
</web-app>
