<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.ggws.model.calendarVO" alias="CalendarVO"/>
		<typeAlias type="com.ggws.model.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.ggws.model.MemberVO" alias="MemberVO"/>
	</typeAliases>


	<!-- 환경설정(계정, driver, url) -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/> 
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@project-db-stu3.ddns.net:1525:xe"/>
				<property name="username" value="campus_d_230322_2"/>
				<property name="password" value="smhrd2"/>
			</dataSource>
		</environment>
	</environments>

	<!-- sql문들을 정의해주는 mapper.xml 의 경로를 지정해주는 태그-->
	<mappers>
		<mapper resource="com/ggws/db/calendarMapper.xml"/>
		<mapper resource="com/ggws/db/MemberMapper.xml"/>
		<mapper resource="com/ggws/db/boardMapper.xml"/>
	</mappers>
</configuration>